# Exercicio 1

In [ ]:
!pip install pandas

### Passo 1: Abra o CSV do seguinte link:
https://www.stats.govt.nz/assets/Uploads/Effects-of-COVID-19-on-trade/Effects-of-COVID-19-on-trade-At-15-December-2021-provisional/Download-data/effects-of-covid-19-on-trade-at-15-december-2021-provisional.csv

### Passo 3: Use o arquivo CSV e o associe a uma variável chamada health.

In [3]:
# importanto a biblioteca
import pandas as pd

health = pd.read_csv('https://www.stats.govt.nz/assets/Uploads/Effects-of-COVID-19-on-trade/Effects-of-COVID-19-on-trade-At-15-December-2021-provisional/Download-data/effects-of-covid-19-on-trade-at-15-december-2021-provisional.csv')

### Passo 4: Veja as 5 primeiras linhas

In [4]:
health.head()

,Direction,Year,Date,Weekday,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,01/01/2015,Thursday,All,All,All,$,104000000,104000000
1,Exports,2015,02/01/2015,Friday,All,All,All,$,96000000,200000000
2,Exports,2015,03/01/2015,Saturday,All,All,All,$,61000000,262000000
3,Exports,2015,04/01/2015,Sunday,All,All,All,$,74000000,336000000
4,Exports,2015,05/01/2015,Monday,All,All,All,$,105000000,442000000

### Passo 5: Qual o número de observações/linhas nesse dataset?

In [24]:
print(health.shape[0])

111438

### Passo 6: Qual o número de colunas desse dataset?

In [25]:
print(health.shape[1])

10

### Passo 7: Imprima o nome de todas as colunas

In [26]:
print(health.columns)

Index(['Direction', 'Year', 'Date', 'Weekday', 'Country', 'Commodity',
       'Transport_Mode', 'Measure', 'Value', 'Cumulative'],
      dtype='object')

### Passo 8: Qual o nome da 3rd coluna?

In [27]:
print(health.columns[2])

Date

### Passo 9: Qual o tipo de dado dessa coluna?

In [28]:
print(health.dtypes['Date'])

object

### Passo 10: Como são os índices do dataset?

In [29]:
print(health.index)

RangeIndex(start=0, stop=111438, step=1)

### Passo 11: Qual o nome do produto na 19th observação?

In [30]:
(health.loc[[18],['Value']])

        Value
18  164000000