In [ ]:
# Instalação da biblioteca se necessário
!pip install pandas

# Aula 4 - Pandas

Prof. Tiago Dias

[Linkedin](https://www.linkedin.com/in/diasctiago/) | [Github](https://github.com/diasctiago) | [Blog](https://www.dadosaocubo.com/)

## Conhecendo o pandas

[Documentação pandas](https://pandas.pydata.org/docs/user_guide/index.html)

### O que é um DataFrame?

DataFrame, é a representação de uma tabela na biblioteca pandas.

| ![DataFrame](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg) |
|:--:| 
| _DataFrame_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

### O que é uma Series?

Uma Series, é a representação de cada coluna de uma tabela individual.

| ![Series](https://pandas.pydata.org/docs/_images/01_table_series.svg) |
|:--:| 
| _Series_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

### Que tipos de dados posso trabalhar no pandas?

É possível ler e gravar dados e diversas fontes com o pandas.

| ![Tipos de Dados](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg) |
|:--:| 
| _Tipos de Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

### Prática com o pandas

In [ ]:
# importanto a biblioteca
import pandas as pd

In [ ]:
# lendo um arquivo csv a partir de um link da internet

df = pd.read_csv('http://dados.agricultura.gov.br/dataset/420c0514-92da-4888-be85-290a0785e8a9/resource/65cce855-685e-4cfa-b3a4-2d192fc83b4e/download/rfflorestasplantadasibge2014-2016.csv', 
                  encoding = 'Windows 1252', #geralmente não eh necessário
                  delimiter=';')

In [ ]:
# lendo um arquivo csv local
df2 = pd.read_csv('florestas.csv',
                   enconding = 'Windows 1252',
                   delimiter = ';')

In [ ]:
# verificando as primeiras linhas do arquivo
df.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0

In [ ]:
# verificando as última linhas do arquivo
df.tail()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0

In [ ]:
# verificando os nomes das colunas carregadas
df.columns

Index(['Ano (data)', 'País', 'Região', 'Estado', 'Estado sigla',
       'Município (Municípios)', 'Município Estado', 'Latitude', 'Longitude',
       'Espécie florestal', 'Área (ha)'],
      dtype='object')

In [ ]:
# verificando o indice
df.index

RangeIndex(start=0, stop=31014, step=1)

In [ ]:
# verificado as informações dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31014 entries, 0 to 31013
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ano (data)              31014 non-null  object
 1   País                    31014 non-null  object
 2   Região                  31014 non-null  object
 3   Estado                  31014 non-null  object
 4   Estado sigla            31014 non-null  object
 5   Município (Municípios)  31014 non-null  object
 6   Município Estado        31014 non-null  object
 7   Latitude                31014 non-null  object
 8   Longitude               31014 non-null  object
 9   Espécie florestal       31014 non-null  object
 10  Área (ha)               29658 non-null  float64
dtypes: float64(1), object(10)
memory usage: 2.6+ MB

In [1]:
31014 - 29658

1356

In [ ]:
# quantidadede linhas e colunas
df.shape

(31014, 11)

Como selecionar colunas específicas do DataFrame.

| ![Colunas dos Dados](https://pandas.pydata.org/docs/_images/03_subset_columns.svg) |
|:--:| 
| _Colunas dos Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
df[['País', 'Região']]

         País        Região
0      Brasil         Norte
1      Brasil         Norte
2      Brasil         Norte
3      Brasil         Norte
4      Brasil         Norte
...       ...           ...
31009  Brasil  Centro Oeste
31010  Brasil  Centro Oeste
31011  Brasil  Centro Oeste
31012  Brasil  Centro Oeste
31013  Brasil  Centro Oeste

[31014 rows x 2 columns]

Como selecionar linhas específicas do DataFrame.

| ![Linhas dos Dados](https://pandas.pydata.org/docs/_images/03_subset_rows.svg) |
|:--:| 
| _Linhas dos Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
#selecionar areas maior que 200000 hectares

values = df['Área (ha)']>200000

In [ ]:
df[ df['Área (ha)'] > 200000 ]

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
28460,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Ribas do Rio Pardo,Ribas do Rio Pardo (MS),"-20,6","-53,54",Eucalipto,205000.0
28576,31/12/2015,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Três Lagoas,Três Lagoas (MS),"-20,44","-52,21",Eucalipto,217600.0
28577,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Três Lagoas,Três Lagoas (MS),"-20,44","-52,21",Eucalipto,230000.0

In [ ]:
# verificando um indice específico
df.loc[2700:2706] #loc infere se vc se refere a indice ou coluna
df.iloc[2700:2706] #iloc eh usado especificamente para indices

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
2700,31/12/2014,Brasil,Nordeste,Alagoas,AL,Cajueiro,Cajueiro (AL),"-9,385","-36,16",Eucalipto,NaN
2701,31/12/2015,Brasil,Nordeste,Alagoas,AL,Cajueiro,Cajueiro (AL),"-9,385","-36,16",Eucalipto,NaN
2702,31/12/2016,Brasil,Nordeste,Alagoas,AL,Cajueiro,Cajueiro (AL),"-9,385","-36,16",Eucalipto,175.0
2703,31/12/2014,Brasil,Nordeste,Alagoas,AL,Cajueiro,Cajueiro (AL),"-9,385","-36,16",Pinus,NaN
2704,31/12/2015,Brasil,Nordeste,Alagoas,AL,Cajueiro,Cajueiro (AL),"-9,385","-36,16",Pinus,NaN
2705,31/12/2016,Brasil,Nordeste,Alagoas,AL,Cajueiro,Cajueiro (AL),"-9,385","-36,16",Pinus,0.0

In [ ]:
# verificando colunas nulas
df.isnull().sum()

Ano (data)                   0
País                         0
Região                       0
Estado                       0
Estado sigla                 0
Município (Municípios)       0
Município Estado             0
Latitude                     0
Longitude                    0
Espécie florestal            0
Área (ha)                 1356
dtype: int64

Como filtrar colunas e linhas específicas do DataFrame.

| ![Filtrando os Dados](https://pandas.pydata.org/docs/_images/03_subset_columns_rows.svg) |
|:--:| 
| _Filtrando os Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
#quero acessar area maior que 200000 e apenas a coluna Estado sigla

df[df['Área (ha)'] > 200000]

      Estado sigla    País
28460           MS  Brasil
28576           MS  Brasil
28577           MS  Brasil

In [ ]:
df.loc[df['Área (ha)'] > 200000, ['Estado sigla', 'País']]

      Estado sigla    País
28460           MS  Brasil
28576           MS  Brasil
28577           MS  Brasil

In [ ]:

df.loc[[1, 3, 5, 8], ['Estado sigla', 'País']]

  Estado sigla    País
1           RO  Brasil
3           RO  Brasil
5           RO  Brasil
8           RO  Brasil

In [ ]:
df.loc[1:10, ['Estado sigla', 'País']]

   Estado sigla    País
1            RO  Brasil
2            RO  Brasil
3            RO  Brasil
4            RO  Brasil
5            RO  Brasil
6            RO  Brasil
7            RO  Brasil
8            RO  Brasil
9            RO  Brasil
10           RO  Brasil

In [ ]:
df[df['Área (ha)'] > 200000]['Estado sigla']

28460    MS
28576    MS
28577    MS
Name: Estado sigla, dtype: object

In [ ]:
df[df['Área (ha)'] > 200000][['Ano (data)', 'Estado sigla', 'Área (ha)']]

       Ano (data) Estado sigla  Área (ha)
28460  31/12/2016           MS   205000.0
28576  31/12/2015           MS   217600.0
28577  31/12/2016           MS   230000.0

Como criar novas colunas no DataFrame.

| ![Novas Colunas](https://pandas.pydata.org/docs/_images/05_newcolumn_1.svg) |
|:--:| 
| _Novas Colunas_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
df['Nova Coluna'] = df['País']

In [ ]:
df.head(5)

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),Nova Coluna
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,Brasil
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,Brasil
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,Brasil
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,Brasil
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,Brasil

In [ ]:
# valores_area = df['Área (ha)']

# df['Nível'] = ['Alto' if area > 200000 else 'Baixo' for area in valores_area]

df['Nível'] = ['Alto' if area > 200000 else 'Baixo' for area in df['Área (ha)']]

# valores_nivel = []

# for area in valores_area:
#     if area > 200000:
#         valores_nivel.append("Alto")
#     else:
#         valores_nivel.append("Baixo")

# df['Nível'] = valores_nivel

In [ ]:
df.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),Nova Coluna,Nível
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,Brasil,Baixo
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,Brasil,Baixo
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,Brasil,Baixo
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,Brasil,Baixo
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,Brasil,Baixo

In [ ]:
df.columns

Index(['Ano (data)', 'País', 'Região', 'Estado', 'Estado sigla',
       'Município (Municípios)', 'Município Estado', 'Latitude', 'Longitude',
       'Espécie florestal', 'Área (ha)', 'Nova Coluna', 'Nível'],
      dtype='object')

In [ ]:
# verificando a nova coluna criada

In [ ]:
# principais medidas estatisticas para as variáveis numéricas

In [ ]:
# calculando as medidas de agregação

In [ ]:
# media

In [ ]:
# mediana

In [ ]:
# soma

Como criar medidas agregadas agrpando por categoria no DataFrame.

| ![Group by](https://pandas.pydata.org/docs/_images/06_groupby.svg) |
|:--:| 
| _Group by_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
# media por estado

In [ ]:
# soma por especie

In [ ]:
# contando os registros por categoria

In [ ]:
# verificando a quantidade de registros de todas as colunas

In [ ]:
# buscando registros por string

In [ ]:
# selecionando o primeiro nome de uma variavel do tipo string

In [ ]:
# selecionando o valor distinto variavel do tipo string

In [ ]:
# removendo colunas do dataframe

In [ ]:
# renomeando colunas do dataframe

In [ ]:
# ordenando os dado do dataframe

In [ ]:
# gravando os dados em arquivo csv

In [ ]:
# lendo um arquivo csv local

### Outros Exemplos